@import url(reset.css); 
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

@import url(reset.css);

body {
	margin: 10px;
	background-image: url(../img/vintage_speckles.png); 
	font-family: 'Roboto' , sans-serif; 
	font-size: 18px;
	color: #875AC6;
}

.content-box {
	width: 80%;
	background-color: #000; 
	margin: 0 auto;
}

p {
	padding: 5px;
}
.title {
	font-size: 36px; 
	color: #875AC6;
	text-align: center; 
}

.motto {
	color: #875AC6;
	font-style: italic;
	text-align: center;  
}

.pizza1 {
	display: block; 
	margin: 0 auto;
	 
}

.logo {
	float: left; 
	padding: 10px; 
}

nav ul {
	background-color: #000; 
	width: 820px; 
	margin: 0 auto;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 15px;
	color: #875AC6; 
	font-weight: bold; 
	font-size: 100%; 
	font-family: 'Roboto'; 
}

nav a:link, 
nav a:visited {
	text-decoration: none; 
}
