@import url(reset.css); 
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic);

body {
	font-family: 'Open Sans', sans-serif;
	margin: 10px; 
	background-image: url(../img/vintage_speckles.png);
	background-repeat: repeat;
    padding: 10px;
}


/* this is the white content box */
.container {
    width: 750px; 
    margin: 10px auto;
    padding: 10px;
    background-color: #FFF;
}

/* the following rules are for the 
site navigation bar */
nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul {
    background-color: #000;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #875AC6;
}

nav li a:hover {
    background-color: #FFF;
    text-decoration: none;
}

a:link,
a:visited {
	text-decoration: none; 
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

header h1 {
	font-family: 'Josefin Sans', sans-serif; 
	font-weight: bold; 
	font-size: 50px;
	padding: 5px; 
}

header h2 {
	font-family: 'Josefin Sans', sans-serif; 
	font-weight: bold; 
	font-style: italic; 
	padding-top: 5px; 
	font-size: 20px; 
}

header img {
	float: left;
	padding-right: 10px;
}

.find-us {
	color: #000;
}

.contact-info p {
	font-size: 20px; 
	font-family: 'Josefin Sans', sans-serif; 
	font-weight: bold;
	padding: 5px; 
	text-align: center;
}

/*Formatting for the footer*/ 
footer {
	border-top: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;  
}

footer p {
	padding: 5px; 
}

/*Formatting for menu page*/
.menu h2 {
	font-size: 40px; 
	font-weight: bold; 
	padding: 10px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif; 
}

.menu h3 {
	font-size: 30px; 
	padding-top: 20px; 
	padding-bottom: 10px; 
	color: #875AC6;
	font-weight: bold; 
	margin-left: 30px; 
}

.menu h4 {
	font-size: 25px;
	padding-top: 10px;  
	font-weight: bold;
	margin-left: 30px;
	color: #875AC6;  
}

.menu p {
	font-size: 20px; 
	padding-bottom: 10px;
	padding-right: 20px;
	padding-top: 10px; 
	margin-left: 30px; 
}

.important {
	font-weight: bold; 
	color: #875AC6;
}

.menu ul {
	font-size: 20px; 
	margin-left: 30px;
}

.menu li {
	font-size: 20px;  
	margin-left: 30px;
}

.menu dt {
	font-size: 20px; 
	font-weight: bold;
	margin-left: 30px;
	padding-top: 10px;  	 
}

.menu dd {
	font-size: 15px;  
	font-weight: bold; 
	font-style: italic;
	margin-left: 30px;   
}

/*Formatting for the about us page*/ 
.about-us-info h2 { 
	font-size: 40px;  
	font-weight: bold;
	color: #875AC6;
	font-family: 'Josefin Sans', sans-serif; 
}

.about-us-info p { 
	font-size: 20px; 
	
	padding-top: 10px; 
	padding-bottom: 10px; 
	text-indent: 2em; 
}